/*
 * Globals
 */

body {
  /*font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;*/
  margin: 0;
  position: absolute;
  width: 100%;
  background-color: white;
}

/*h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}*/




/*
 * Masthead for nav
 */

/*.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}*/

/* Nav links */
/*.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}*/


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 5px;
  padding-bottom: 20px;
}
.blog-title {
  background-color: #00823e;
	color: white !important;
  font-size: 16pt;
  font-weight: 600;
	font-family:  'Helvetica' !important;
	border: none !important;
	padding: 13px;
}

.blog-title a {
  color: white;
  text-decoration: none;
}

/*.blog-description {
  font-size: 15px;
  color: #999;
  font-family: sans-serif;
}*/


/*
 * Main column and sidebar layout
 */

/*.blog-main {
  font-size: 18px;
  line-height: 1.5;
}*/



/* Pagination */
/*.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}*/


/*
 * Blog posts
 */

/*.blog-post {
  margin-bottom: 60px;
}*/

.blog-post-title {
  margin-left: 110px;
}

.blog-post-title a {
  font-size: 12pt;
  font-family: 'Helvetica' !important;
  color: #1E2D5F;
  text-decoration: none;
}

/*.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}*/


/*
 * Footer
 */

.blog-footer {
  /*padding: 40px 0;
  color: #999;*/
  font-family: sans-serif;
  font-size: 8pt;
  text-align: center;
  /*background-color: #ffffff;*/
}

.blog-footer a {
  text-decoration: none;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

/*.blog-nav li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
}
.blog-nav li a {
    color: #fff;
}*/

#header-logo {
  float: right;
  width: 45px;
  height: auto;
  margin-right: 30px;
  margin-top: 10px;
}

#foot-img {
  width: auto;
  height: auto;
  max-height: 80px;
  margin-right: 15pt;
}

.featured_thumb img {
  margin-top: -50px !important;
  margin-left: 50px;
  margin-bottom: 20px;
  float: left;
}

.divider {
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid #BEBEBE;
}

.material-icons {
  float: right;
  margin-top: -40px;
  margin-right: 40px;
	color: #BEBEBE;
}

.header-spacing {
  margin-bottom: 35px;
}

.pages {
  padding-left: 200px;
  padding-right: 200px;
  font-family: "Helvetica";
  color: black;
  font-size: 10.5pt;
}

.pages a {
  text-decoration: none;
  color: #2665bd;
}

.pages a:hover {
  color: black;
}

.col-sm-3 {
	padding: 2px !important;
}

.col-centered{
    margin: 0 auto;
    display: inline-block;
}

button {
	background-color: #00823e;
	color: white !important;
	font-family:  'Helvetica' !important;
	border: none !important;
  height: 40px;
  width: 175px;
  font-weight: 600 !important;
}

button a {
	color: white;
  font-weight: bold !important;
}

button:hover {
	background-color:#C20D2D;
  cursor: pointer;
}

.header-selection {
  color: white;
  font-family: 'Helvetica';
  font-size: 16pt;
  margin-top: -38px !important;
  margin-left: 225px !important;
}

.cemp-v1-title {
  color: #535559;
  font-family: "Helvetica";
  font-size: 28pt;
  font-weight: 600 !important;
  text-align: center;
}

.cemp-v1-box {
  margin: 0 auto;
  height: auto;
  border: 3px solid green;
  width: 925px;
  background-color: white;
}

.cemp-v1-shadow {
  margin-right: 20px;
  margin-bottom: 20px;
  height: inherit;
  width: 925px;
  background-color: grey;
}

.cemp-v1-content {
  font-family: "Helvetica";
  color: black;
  font-size: 10.5pt;
  line-height: 175%;
  padding-left: 100px;
}

.cemp-v1-content a {
  text-decoration: none;
  color: #2665bd;
  line-height: 175%;
}

.cemp-v1-content a:hover {
  color: black;
}

.sub-menu_divider {
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px solid #BEBEBE;
}

.sub-menu_titles {
  margin-left: 50px;
  margin-right: 120px;
  font-size: 10.5pt;
  font-family: 'Helvetica' !important;
  color: black;
  text-decoration: none;
}

.sub-menu_titles a {
  text-decoration: none;
  color: #1E2D5F;
  font-size: 12pt;
  font-weight: 600;
}

.sub-menu_icons {
  float: right;
  margin-right: -110px;
  margin-top: 20px;
}

.dgobag-info {
  margin: -85px 100px 4px 155px;
  font-size: 10.5pt;
  font-family: 'Helvetica' !important;
  color: black;
  text-decoration: none;
}

.dgobag-info a {
  text-decoration: none;
  color: #1E2D5F;
  font-size: 12pt;
  font-weight: 600;
}

.dgobag-buttons {
  margin-left: 155px;
  margin-top: -15px;
}

.dgobag-text {
  margin-bottom: 3px;
}

.dgobag-icons {
  margin-right: 17px;
}

.dgobag-image {
  margin-top: 40px;
  margin-left: 50px;
}
