body {
  margin: 0;
  position: absolute;
  width: 100%;
  background-color: white;
}

.blog-header {
  padding-top: 5px;
  padding-bottom: 20px;
}
.blog-title {
  background-color: #00823e;
	color: white !important;
  font-size: 16pt;
  font-weight: 600;
	font-family:  'Helvetica' !important;
	border: none !important;
	padding: 13px;
}

.blog-title a {
  color: white;
  text-decoration: none;
}

.blog-post-title {
  margin-left: 110px;
}

.blog-post-title a {
  font-size: 12pt;
  font-family: 'Helvetica' !important;
  color: #1E2D5F;
  text-decoration: none;
}

.footer-text {
  max-width: 500px !important;
  margin: 0 auto;
}

.blog-footer {
  font-family: sans-serif;
  font-size: 8pt;
  text-align: center;
}

.blog-footer a {
  text-decoration: none;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.index-footer {
  font-family: "Helvetica";
  font-size: 8pt;
  color: #1E2D5F;
  text-decoration: none;
  text-align: center !important;
  padding-left: 10px;
  padding-right: 20px;
  max-width: 600px;
}

.index-footer1 {
  margin: 0 auto;
}

.index-footer2 {
  margin: 0 auto;
}

.index-footer3 {
  margin: 0 auto;
}

#header-logo {
  float: right;
  width: 45px;
  height: auto;
  margin-right: 30px;
  margin-top: 10px;
}

#foot-img {
  width: auto;
  height: auto;
  max-height: 80px;
  margin-right: 15pt;
}

.featured_thumb img {
  margin-top: -50px !important;
  margin-left: 50px;
  margin-bottom: 20px;
  float: left;
}

.divider {
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 1px solid #BEBEBE;
}

.material-icons {
  float: right;
  margin-top: -40px;
  margin-right: 40px;
	color: #BEBEBE;
}

.header-spacing {
  margin-bottom: 35px;
}

.about-page {
  font-family: "Helvetica";
  color: black;
  font-size: 10.5pt;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.about-page a {
  text-decoration: none;
  color: #2665bd;
}
.pages {
  padding-left: 200px;
  padding-right: 200px;
  font-family: "Helvetica";
  color: black;
  font-size: 10.5pt;
}

.pages a {
  text-decoration: none;
  color: #2665bd;
}

.pages a:hover {
  color: black;
}

.col-sm-3 {
	padding: 2px !important;
}

.col-centered{
    margin: 0 auto;
    display: inline-block;
}

button {
	background-color: #00823e;
	color: white !important;
	font-family:  'Helvetica' !important;
	border: none !important;
  height: 40px;
  width: 175px;
  font-weight: 600 !important;
}

button a {
	color: white;
  font-weight: bold !important;
}

button:hover {
	background-color:#C20D2D;
  cursor: pointer;
}

.header-selection {
  color: white;
  font-family: 'Helvetica';
  font-size: 16pt;
  margin-top: -38px !important;
  margin-left: 225px !important;
  border: none !important;
  overflow: hidden;
}

.cemp-v1-title {
  color: #535559;
  font-family: "Helvetica";
  font-size: 28pt;
  font-weight: 600 !important;
  text-align: center;
}

.cemp-v1-content {
  font-family: "Helvetica";
  color: black;
  font-size: 10.5pt;
  line-height: 175%;
  padding: 0px 30px 0px 30px;
}

.cemp-v1-content a {
  text-decoration: none;
  color: #2665bd;
  line-height: 175%;
}

.cemp-v1-content a:hover {
  color: black;
}

.cemp-v1-content h2 {
  line-height: 100% !important;
}

.cemp-v2-content {
  font-family: "Helvetica";
  color: black;
  font-size: 10.5pt;
  font-weight: 600;
  line-height: 145%;
}

.cemp-v2-content a {
  text-decoration: none;
  color: #2665bd;
}

.cemp-v2-breaker {
  margin-right: 40px;
  border-bottom: 1px solid #BEBEBE;
}

table {
  table-layout: fixed;
  width: auto;
  margin: 0 auto;
}

th {
  width: 200px;
  font-weight: lighter;
  border: 1px solid #BEBEBE;
}

.sub-menu_divider {
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px solid #BEBEBE;
}

.sub-menu_titles {
  margin-left: 50px;
  margin-right: 120px;
  font-size: 10.5pt;
  font-family: 'Helvetica' !important;
  color: black;
  text-decoration: none;
}

.sub-menu_titles a {
  text-decoration: none;
  color: #1E2D5F;
  font-size: 12pt;
  font-weight: 600;
}

.sub-menu_icons {
  float: right;
  margin-right: -110px;
  margin-top: 20px;
}

.dgobag-info {
  margin: -85px 100px 4px 155px;
  font-size: 10.5pt;
  font-family: 'Helvetica' !important;
  color: black;
  text-decoration: none;
}

.dgobag-info a {
  text-decoration: none;
  color: #1E2D5F;
  font-size: 12pt;
  font-weight: 600;
}

.dgobag-buttons {
  margin-left: 155px;
  margin-top: -15px;
}

.dgobag-text {
  margin-bottom: 3px;
}

.dgobag-icons {
  margin-right: 17px;
}

.dgobag-image {
  margin-top: 35px;
  margin-left: 50px;
}

.weather {
  font-size: .8em;
  border: 3px solid green;
  margin: 15px;
  padding: 0px 10px 5px 10px;
  box-shadow: 10px 10px 5px #888888;
}
